<div class="div-fullscreen">
    <br><br>
    <button>xd</button>
    <br><br><br>
    <div class="row">
        <div class="outer-section">
            <div class="section">
                <img src="assets/icons8-velocímetro-96.png" alt="Icono 1">
                <h2>RPM</h2>
                <p>1200 Rpm</p>
            </div>
        </div>
        <div class="outer-section">
            <div class="section">
                <img src="assets/inclinacion.jpg" alt="Icono 2">
                <h2>ORIENTACION</h2>
                <p>Inclinado</p>
            </div>
        </div>
        <div class="outer-section">
            <div class="section">
                <img src="assets/imagen_2024-04-11_231113703-removebg-preview.png" alt="Icono 3">
                <h2>OBSTACULOS</h2>
                <p>Detectado</p>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="outer-section">
            <div class="section">
                <img src="assets/distancia.png" alt="Icono 1">
                <h2>DISTANCIA</h2>
                <p>1200 Rpm</p>
            </div>
        </div>
        <div class="outer-section">
            <div class="section">
                <img src="assets/temperatura.png" alt="Icono 2">
                <h2>TEMPERATURA Y HUMEDAD</h2>
                <p>Inclinado</p>
            </div>
        </div>
        <div class="outer-section">
            <div class="section">
                <img src="assets/sensor-de-luz-de-celda-solar.png" alt="Icono 3">
                <h2>LUMINOSIDAD</h2>
                <p>Detectado</p>
            </div>
        </div>
    </div>
    
</div>

